@import url('https://unpkg.com/css.gg@2.0.0/icons/css/hashtag.css');

* {
box-sizing: border-box;

}

body {
font-family: sans-serif;
margin: 20px;
height: 47rem;
padding: 0;
}


* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
    background: rgb(164,0,128);
    background: radial-gradient(circle, rgba(164,0,128,1) 25%, rgba(242,12,70,1) 100%); 
}

.square {
    background: transparent;
    border: none;
    float: left;
    font-size: 2rem;
    font-weight: bold;
    color: whitesmoke;

    padding: 0.5rem;
    text-align: center;
    width: 5rem;
    height: 5rem;
}

.vl1 {
    float: left;
    margin:-0.15rem 0 ;
    border-right: 0.5rem solid whitesmoke;
    height: 5.2rem;
    
}

.hl {
    margin: 0;
    padding: 0;
    height: 0;
    border-top: 0.5rem solid whitesmoke;
    padding-bottom: 0.15rem;

}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.game-info {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: bold;
}

.board-info{
    margin: 2rem 0rem;
    padding-top: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 0.3rem solid whitesmoke;
    width: 18rem;
}

hr.rounded {
    margin: 0;
    padding: 0;
    width: 13rem;
    border-top: 1px solid whitesmoke;
    border-radius: 5px;
}

.move-item {
    background-color: transparent;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    padding: 0.5rem;
}