* {
    box-sizing: border-box;

  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    height: 47rem;
    padding: 0;
  }
  
  h1 {
    margin-top: 0;
    font-size: 22px;
  }
  
  h2 {
    margin-top: 0;
    font-size: 20px;
  }
  
  h3 {
    margin-top: 0;
    font-size: 18px;
  }
  
  h4 {
    margin-top: 0;
    font-size: 16px;
  }
  
  h5 {
    margin-top: 0;
    font-size: 14px;
  }
  
  h6 {
    margin-top: 0;
    font-size: 12px;
  }
  
  code {
    font-size: 1.2em;
  }
  
  ul {
    padding-inline-start: 20px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    margin: 20px;
    padding: 0;
    background: rgb(164,0,128);
    background: radial-gradient(circle, rgba(164,0,128,1) 25%, rgba(242,12,70,1) 100%); 
  }
  
  .square {
    background: transparent;
    /* border: 0.2em solid whitesmoke; */
    float: left;
    font-size: 2rem;
    font-weight: bold;
    color: whitesmoke;

    padding: 0.5rem;
    text-align: center;
    width: 5rem;
    height: 5rem;
    /* width: 34px; */
  }
  
  .board-row:after {
    clear: both;
    content: '';
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }

  .game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }

  .vl {
    border-left: 6px solid green;
    height: 500px;
  }

  
  .game-info {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .board-info{
    margin: 2rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  hr.rounded {
    margin: 0;
    padding: 0;
    width: 13rem;
    border-top: 1px solid whitesmoke;
    border-radius: 5px;
  }

  .move-item {
    background-color: transparent;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    padding: 0.5rem;
  }

