
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}

body {
    margin: 1rem;
    height: 47rem;
    padding: 0;
}


* {
    box-sizing: border-box;
}

h1{
    margin: 0;
    font-family: "Kode Mono", monospace;
    font-style: normal;
    color: rgba(28, 28, 28, 0.714);
}

h2{
    margin: 0;
    font-family: "Kode Mono", monospace;
    font-style: italic;
    font-size: medium;
    color: rgba(28, 28, 28, 0.714);
}

body {
    font-family: sans-serif;
    margin: 0.75rem 1rem;
    padding: 0;
    background: rgb(164,0,128);
    background: radial-gradient(circle, rgba(164,0,128,1) 25%, rgba(242,12,70,1) 100%); 
}

.square {
    background: transparent;
    border: none;
    float: left;
    font-size: 3rem;
    font-weight: bold;
    color: whitesmoke;
    padding: 0.5rem;
    text-align: center;
    width: 5rem;
    height: 5rem;
    transition: background 0.75s ease; 
}

.square:hover {
    background: radial-gradient(circle, rgba(240, 248, 255, 0.5), transparent, transparent);
}

.vl1 {
    float: left;
    margin:-0.15rem 0;
    border-right: 0.5rem solid whitesmoke;
    height: 5.2rem;
    box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
}

.hl {
    margin: 0;
    padding: 0;
    height: 0;
    border-top: 0.5rem solid whitesmoke;
    padding-bottom: 0.15rem;
    box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.5);
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.status {
    margin-bottom: 10px;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.game-info {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 1.5rem;
    font-weight: bold;
}

.board-info{
    margin: 2rem 0rem;
    padding-top: 0.07rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 0.3rem solid whitesmoke;
    width: 18rem;
}

hr.rounded {
    margin: 0;
    padding: 0;
    width: 11rem;
    border-top: 1px solid whitesmoke;
    border-radius: 5px;
}

.move-item {
    background-color: transparent;
    color: whitesmoke;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    padding: 0.5rem;
    transition: text-shadow 0.5s ease;
}

.move-item:hover {
    text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;
}